.box{
    margin: 0 auto;
    display: flex;
    width: 35rem;
    height: 35rem;
    background-color: blueviolet;
    border-radius: 50%;
    border: #ED6673 double 10px;
}
.box2{
    width: 20rem;
    height: 20rem;
    background-color: violet;
    border-radius: 50%;
    position: relative;
    left: 7.5rem;
    top: 7.5rem;
    border: yellow dotted 3px;

}
.child1{
    width: 10rem;
    height: 10rem;
    background-color: pink;
    border-radius: 0 60% 0 60%;
    border: yellow dotted 3px;
    border-top: white solid 10px;
    border-left: white solid 10px;
    position:absolute;
    top: 8.5rem;
    left: 11.5rem;
}

.child2{
    width: 10rem;
    height: 10rem;
    background-color: pink;
    border-radius: 60% 0 60% 0;
    border: yellow dotted 3px;
    border-bottom: white solid 10px;
    border-left: white solid 10px;
    position: absolute;
    left: 11.5rem;
    top: 19rem;

}
.child3{
    width: 10rem;
    height: 10rem;
    background-color: pink;
    border-radius: 60% 0 60% 0;
    border: yellow dotted 3px;
    border-top: white solid 10px;
    border-right: white solid 10px;
    position: absolute; 
    left: 22rem;
    top: 8.5rem;
}
.child4{
    width: 10rem;
    height: 10rem;
    background-color: pink;
    border-radius: 0 60% 0 60%;
    border: yellow dotted 3px;
    border-bottom: white solid 10px;
    border-right: white solid 10px;
    position: absolute; 
    left: 22rem;
    top: 19rem;
}
.child5{
    position:absolute;
    width: 5rem;
    height: 5rem;
    left: 19.5rem;
    top: 16rem;
    background-color: greenyellow;
    position: absolute;
    border-radius: 50%;
    border: yellow solid 5px;
}

.tip1{
    width: 4rem;
    height: 2rem;
    background-color: white;
    border-radius: 0 0 90% 0;
    position: absolute;

}
.tip2{
    width: 2rem;
    height: 4rem;
    background-color: white;
    border-radius: 0 0 90% 0;
}
.tip3{
    width: 4rem;
    height: 2rem;
    background-color: white;
    border-radius: 0 90% 0 0;
    position: absolute;
    top: 8rem;
}
.tip4{
    width: 2rem;
    height: 4rem;
    background-color: white;
    border-radius: 0 90% 0 0;
    position: absolute;
    top: 6rem;
}
 .tip5{
    width: 4rem;
    height: 2rem;
    background-color: white;
    position: absolute;
    left: 6rem;
    border-radius: 0 0 0 90%;
}  
.tip6{
    width: 2rem;
    height: 4rem;
    background-color: white;
    border-radius: 0 0 0 90%;
    position: absolute;
    left: 8rem;
}
.tip7{
    width: 4rem;
    height: 2rem;
    background-color: white;
    position: absolute;
    border-radius: 90% 0 0 0;
    left: 6rem;
    top: 8rem;
}
.tip8{
    width: 2rem;
    height: 4rem;
    background-color: white;
    position: absolute;
    border-radius: 90% 0 0 0;
    left: 8rem;
    top: 6rem;
}


nav{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
p{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
}
main{
    display: flex;
    height: 10vh;
    flex-direction: column;
    justify-content: center;

}
body{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a{
    color: brown;
    text-decoration: none;
}
a:hover{
    color: white;
    border-bottom: 2px solid;
    padding-bottom: 2px;
}
p:before{
    content: '🌟';
    font-size: 30px;
}
/*
#person{
    display: inline-block;
    background-color: red;
    width: 10px;
    height: 10px;
    background-image: ;
    background-position: 0px 312px;
    animation: 
}
@keyframes walk{
    to {

    }

}
*/